PORT=8020
NODE_ENV=development

# Base de datos
DB_HOST=localhost
DB_PORT=3306
DB_USER=tu_usuario
DB_PASSWORD=tu_contraseña
DB_NAME=my_api

# JWT
JWT_SECRET=tu_clave_secreta
JWT_REFRESH_SECRET=otra_clave_secreta
JWT_EXPIRATION=1h
JWT_REFRESH_EXPIRATION=7d